.container {
    margin-top: 50px;
}

.form-control {
    border-color: #000; 
    border-width: 1px;
}
.card-header{
    background-color: #575050;
}
.custom-button {
    background-color: #575050; 
    color: #fff; 
    border-color: #333; 
}
.custom-button:hover {
    background-color: #555; 
    border-color: #555; 
}
