<header>
  <nav class="navbar navbar-expand-lg navbar-light headerContainer">
    <div class="container-fluid">
      <div style="color: rgb(94, 89, 94);"class="bold-label">EMPLOYEE<br><div>{{ userNames }}</div></div>
      <a class="navbar-brand" href="#"></a>  
      <div class="ml-auto d-flex align-items-center">       
        <button class="btn btn-primary mb-3 custom-button ml-2" type="button" (click)="navigateToApplyLeave()">Apply Leave</button>
        <button class="btn btn-primary mb-3 custom-button" type="button" (click)="navigateToLogIn()">Logout</button>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row justify-content-between align-items-center mb-3">
</div>
  <div class="row justify-content-around mb-4">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Marriage Leave</h5>
                  <p class="card-text">Total Leave: 3</p>
                  <p class="card-text">Available Leave: {{ marriageLeave }}</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Privilege Leave</h5>
                  <p class="card-text">Total Leave: 10</p>
                  <p class="card-text">Available Leave: {{ privilegeLeave }}</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Medical Leave</h5>
                  <p class="card-text">Total Leave: 10</p>
                  <p class="card-text">Available Leave: {{ medicalLeave }}</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Paternity Leave</h5>
                  <p class="card-text">Total Leave: 5</p>
                  <p class="card-text">Available Leave: {{ paternityLeave }}</p>
              </div>
          </div>
      </div>
  </div>
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
          <thead class="table-dark">
              <tr>
                  <th>S.No</th>
                  <th>Leave Type</th>
                  <th>Number Of Days</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Description</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of tableData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ row.leaveType }}</td>
                  <td>{{ row.noOfDays }}</td>
                  <td>{{ row.fromDate }}</td>
                  <td>{{ row.toDate }}</td>
                  <td>{{ row.description }}</td>
                  <td>{{ row.status }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
