.headerContainer {
    background-color: lightgray;
  }
  .custom-button {
    background-color: #333;
    margin: 10px;
    color: #fff;
    /* White text */
    border-color: #333;
    /* Dark grey border */
  }
  .bold-label {
    font-weight: 700; /* Adjust the font weight as needed */
}