<header>
    <nav class="navbar navbar-expand-lg navbar-light headerContainer">
      <div class="container-fluid">
        <div style="color: rgb(94, 89, 94);"class="bold-label">MANAGER<br><div>{{ usersNames }}</div></div>
        
        <a class="navbar-brand" href="#"></a>
        
        <div class="ml-auto d-flex align-items-center">         
          <button class="btn btn-primary mb-3 custom-button" type="button" (click)="navigateToApplyLeave()">Leave Request List</button>
          <button class="btn btn-primary mb-3 custom-button" type="button" (click)="navigateToLogIn()">Logout</button>
        </div>
      </div>
    </nav>
  </header>

<div class="container">
    <h1 class="text-center mb-4">List Of Employee</h1>
  
    <div class="row justify-content-between align-items-center mb-3">
  </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>S.No</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ row.userName }}</td>
                  <td>{{ row.userRole }}</td>
                </tr>
              </tbody>
            <tbody>
            </tbody>
        </table>
    </div>   
  </div>
  